#header {
  background: #f8f9fa;
}

.input {
  color: #434343;
  font-size: small;
  display: flex;
  padding: 4%;
}

.colored {
  color: #434343;
  padding: 0 14px;
}

.icon-spacer {
  flex: 1 1 auto;
}
