#sidenav {
  background-image: linear-gradient(45deg, #2D2E2E, #434343) !important;
}

.light {
  color: #dddfd4;
}

.gradient-text {
  font-size: 135%;
  font-family: 'Montserrat', sans-serif;
  //text-transform: uppercase;
  //background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  color: cornsilk;

}
