#sidenav {
  background-image: linear-gradient(45deg, #2D2E2E, #434343) !important;
}

.light {
  color: #dddfd4;
}

.gradient-text {
  font-size: 135%;
  font-family: 'Montserrat', sans-serif;
  color: #3fb0ac !important;

}

.mat-sidenav-content {
  height: 90vh;
  position: relative;
}
