  <form (ngSubmit)="onSubmit()" #tcForm="ngForm">

    <div class="test-card">
      <div class="header-group">
        <span class="badges">TC-{{testcasemodel?.id || 'NEW'}}</span>
        <mat-error class="text-center" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </div>
      <mat-card class="test-card">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="testcasemodel.title"
                    name="name"
                    #name="ngModel"/>
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Test Case Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="reference">Reference (Jira Ticket)</label>
          <input type="text" class="form-control" id="reference"
                 [(ngModel)]="testcasemodel.reference"
                 name="reference"
                 #reference="ngModel"/>
        </div>

        <div class="form-group">
          <mat-form-field class="chip-list">
            <label for="labels">Labels</label>
            <mat-chip-list #chipList id="labels">
              <mat-chip
                *ngFor="let label of testcasemodel?.labels"
                [selectable]="true"
                [removable]="true"
                (removed)="remove(label)">
                {{label}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                #labelInput
                [formControl]="labelCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let label of filteredLabels$ | async" [value]="label">
                {{label}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
      </mat-card>

      <mat-card class="test-card">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" class="form-control" id="description"
                    [(ngModel)]="testcasemodel.description" name="description"></textarea>
        </div>
      </mat-card>

      <mat-card class="test-card">
        <div class="form-group">
          <label>Steps<button mat-icon-button type="button" (click)="addStep()">
            <mat-icon>add</mat-icon>
          </button>
          </label>
          <textarea type="text" class="form-control step"
                    *ngFor="let step of testcasemodel.steps; index as i" #textbox (change)="testcasemodel.steps[i] = textbox.value">{{step}}</textarea>
        </div>
      </mat-card>

      <mat-card-actions>
        <button id="submitBtn" mat-button [disabled]="!(tcForm.form.valid && testcasemodel.labels?.length > 0)">Submit</button>
        <button id="cancelBtn" mat-button [routerLink]="testcasemodel.id ? ['/cases', testcasemodel.id] : ['/project', projectId, 'cases']">Cancel</button>
      </mat-card-actions>
    </div>
  </form>
