<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #tcForm="ngForm">

    <div class="test-card">
      <div class="header-group">
        <span class="badges">TC-{{testcasemodel.id}}</span>
      </div>
      <mat-card class="test-card">
        <div class="form-group">
          <label for="name">Name</label>
          <textarea type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="testcasemodel.name" name="name"
                    #name="ngModel"></textarea>
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Test Case Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status"
                  required
                  [(ngModel)]="testcasemodel.status" name="status"
                  #status="ngModel">
            <option *ngFor="let pow of statuses" [value]="pow">{{pow}}</option>
          </select>
          <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
            status is required
          </div>
        </div>

        <div class="form-group">
          <label for="label">Labels</label>
          <select class="form-control" id="label"
                  required
                  [(ngModel)]="testcasemodel.label" name="label"
                  #label="ngModel">
            <option selected>Need Multiselect</option>
          </select>
          <div [hidden]="label.valid || label.pristine" class="alert alert-danger">
            label is required
          </div>
        </div>
      </mat-card>

      <mat-card class="test-card">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" class="form-control" id="description"
                    [(ngModel)]="testcasemodel.description" name="description"></textarea>
        </div>
      </mat-card>

      <mat-card class="test-card">
        <div class="form-group">
          <label for="step">Steps</label>
          <textarea type="text" class="form-control" id="step"
                    *ngFor="let step of testcasemodel.steps; index as i">{{step.step}}</textarea>
        </div>
      </mat-card>

      <mat-card-actions>
        <button id="submitBtn" mat-button [disabled]="!tcForm.form.valid">Submit</button>
        <button id="cancelBtn" mat-button routerLink="/suites/cases/{{testcasemodel.id}}">Cancel</button>
      </mat-card-actions>

      <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(tcForm)}}
      </div>
      <!-- - -->
    </div>
  </form>

</div>
