<div class="test-card">
  <div class="header-group">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          Projects
          <button mat-icon-button>
            <mat-icon id="addIcon" aria-label="Projects" [routerLink]="'/create-project'">add_box</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
  </div>
</div>

<mat-list>
  <mat-list-item *ngFor="let project of projects">
    <mat-icon class="project-icon" mat-list-icon>folder</mat-icon>
    <span mat-line routerLink="/projects/{{ project.id }}/suites">{{project.name}}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

