<div class="test-card">
  <div [innerHtml]="outputHtml"></div>
  
  <div class="header-group">

    <span class="badges">TC-{{testCase?.id}}</span>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{testCase?.title}}</mat-card-title>
        <mat-card-subtitle>{{testCase?.labels}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </div>

  <mat-card-content>
    <mat-card class="test-card">
      <div>
        <p><strong>Status:</strong> {{ testCase?.status }}</p>
      </div>
    </mat-card>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button id="updateBtn" mat-button routerLink="/case/{{testcasemodel.id}}/edit">Update</button>
    <button id="deleteBtn" mat-button>Delete</button>
  </mat-card-actions> -->
</div>
