.demo-card-container {

  .test-case-card {
    margin: 1%;
    //background: #F2F2F2;
    //background: aliceblue;
    width: 92%;
    background: #f8f9fa;
  }
}

#updateBtn {
  //background-color: #34495e;
  background: #3fb0ac;
  color: #F2F2F2;
}

#deleteBtn {
  //background-color: #d35400;
  background: #173e43;
  color: #F2F2F2;
}

#title {
  background: lightgray;
}

#labels {
  background: #fae596;
  //color: #F2F2F2;
  color: #173e43;
  //background-image: linear-gradient(45deg, #DCE35B, #45B649) !important;
}

.badge {
  padding: 6px 10px;
  font-size: 85%;
  font-weight: 500;
  letter-spacing: .3px;
  //background: #f1c40f;
  background: #fae596;
  height: 50%;
  //background-image: linear-gradient(45deg, #CAC531, #F3F9A7) !important;
}

.header-group {
  display: flex;
  padding-left: 1.5%;
}

.card-body {
  background: aliceblue;
}

mat-card-actions {
  padding-left: 1.5%;
}

.pad {
    padding-left: 1.5% !important;
}

.icon-spacer {
  flex: 1 1 auto;
}


//.ng-valid[required], .ng-valid.required  {
//  border-left: 5px solid #42A948; /* green */
//}
//
//.ng-invalid:not(form)  {
//  border-left: 5px solid #a94442; /* red */
//}
//
///* Master Styles */
//h1 {
//  color: #369;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 250%;
//}
//h2, h3 {
//  color: #444;
//  font-family: Arial, Helvetica, sans-serif;
//  font-weight: lighter;
//}
//body {
//  margin: 2em;
//}
//body, input[text], button {
//  color: #888;
//  font-family: Cambria, Georgia;
//}
//a {
//  cursor: pointer;
//  cursor: hand;
//}
//button {
//  font-family: Arial;
//  background-color: #eee;
//  border: none;
//  padding: 5px 10px;
//  border-radius: 4px;
//  cursor: pointer;
//  cursor: hand;
//}
//button:hover {
//  background-color: #cfd8dc;
//}
//button:disabled {
//  background-color: #eee;
//  color: #aaa;
//  cursor: auto;
//}
//
///* Navigation link styles */
//nav a {
//  padding: 5px 10px;
//  text-decoration: none;
//  margin-right: 10px;
//  margin-top: 10px;
//  display: inline-block;
//  background-color: #eee;
//  border-radius: 4px;
//}
//nav a:visited, a:link {
//  color: #607D8B;
//}
//nav a:hover {
//  color: #039be5;
//  background-color: #CFD8DC;
//}
//nav a.active {
//  color: #039be5;
//}
//
///* everywhere else */
//* {
//  font-family: Arial, Helvetica, sans-serif;
//}
