<div class="demo-card-container">
<mat-card class="test-case-card">
  <mat-card-header>
    <mat-card-title>{{testCase.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Description: </strong>{{ testCase.description }}</p>
    <p><strong>Labels: </strong>{{ testCase.labels }}</p>
    <p><strong>Status: </strong>{{ testCase.status }}</p>
    <p><strong>Steps:</strong></p>
    <ul *ngFor="let step of testCase.steps; index as i">
    <p>{{i+1}}. {{step.step}}</p>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button id="updateBtn" mat-button>Update</button>
    <button id="deleteBtn" mat-button>Delete</button>
  </mat-card-actions>
</mat-card>
</div>
