/* Master Styles */

body {
  margin-left: 0;
  background: #f8f9fa;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100vh;
  font-weight: 500;
}

body, input[text], button {
  color: #888;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
}

.mat-card {
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
  font-weight: 500;
}

a {
  cursor: pointer;
}

button {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

#updateBtn {
  background: #3fb0ac;
  color: #F2F2F2;
}

#deleteBtn {
  background: #431c17;
  color: #F2F2F2;
}

#cancelBtn {
  background: #738b8e;
  color: #F2F2F2;
}

#submitBtn {
  background: #173e43;
  color: #F2F2F2;
}

.labels {
  background: #fae596 !important;
  color: #173e43 !important;
}

.badges {
  padding: 6px 10px;
  font-size: 85%;
  font-weight: 600;
  letter-spacing: .3px;
  background: #fae596;
  height: 50%;
  width: 5%;
  text-align: center;;
}

.icon-spacer {
  flex: 1 1 auto;
}

.test-card {
  margin: 1%;
  background: #f8f9fa;
}

.mat-card-actions {
  padding-left: 1.5% !important;
}

.header-group {
  display: flex;
  padding-left: 1.5%;
}

.card-body {
  background: aliceblue;
}

.project-icon {
  color: #3fb0ac;
}
